@using WorldDiscovery.Shared
@inject NavigationManager NavigationManager

<div class="card" @onclick="GoToPlaceProfile">
    <div class="container">
        <div class="row">
            <div class="col-3">
                @if (@Place.Name == "Collège St. Joseph De L’Apparition")
                {
                    <img src="images/school.jpg" alt=@Place.PlaceImage.Description class="profile-image" />
                }
                else
                {
                    <img src="images/hospital.jpg" alt=@Place.PlaceImage.Description class="profile-image" />
                }
            </div>
            <div class="col">
                <h4 class="card-title">@Place.Name</h4>
            </div>
        </div>
        <div class="row description-row">
            <div class="col">
                <p class="card-text">@Place.Description</p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Place? Place { get; set; }

    public void GoToPlaceProfile()
    {
        NavigationManager.NavigateTo($"/place-profile/{Place?.Name}");
    }
}