html, body {
    height: 100vh;
}
.center-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom : 40px;
    padding-top:20px;
}
.center-container {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    padding-left: 100px;
}
.logo-size {
    width: 50px;
    height: 50px;
}
.icon-size {
    width: 30px;
    height: 30px;
}
.custom-link a {
    color: #007bff !important;
    cursor: pointer;
    text-decoration: none;
}
.with-padding-bottom {
    padding-bottom: 20px; 
}
.with-padding-top {
    padding-top: 20px;
}
span {
    padding-right: 20px;
}
.rounded-button {
    border-radius: 50px;
    padding: 15px 30px; 
}
.fixed-button {
    position:fixed;
    bottom: 150px; 
    right: 100px; 
}
.icon-image{
    padding-left: 40px;
    padding-top:40px;
}