.card {
    background-color: #f0f2f5;
    width: 450px;
    height: 190px;
    cursor: pointer;
}

.container {
    margin-top: 20px;
}

.profile-image {
    width: 90px;
}

.card-title {
    display: flex;
}

.description-row {
    margin-top: 14px
}

/* ------------------------ Small Devices ------------------------ */

@media (max-width: 650px) {

    .card {
        width: 450px;
        height: 220px;
    }

    .container {
        margin-top: 20px;
    }

    .profile-image {
        width: 70px;
    }

    .card-title {
        display: flex;
        margin-left: 15px;
        font-size: 1rem;
    }

    .card-text {
        font-size: 15px;
    }

    .description-row {
        margin-top: 10px
    }
}

@media (width: 540px) {

    .card-title {
        display: flex;
        font-size: 1.3rem;
    }

    .card {
        height: 190px;
    }
}


@media (max-width: 360px) {

    .card {
        height: 240px;
    }
}

/* ------------------------ Galaxy Fold ------------------------ */

@media (width: 280px) {

    .card {
        height: 300px;
    }

    .card-title {
        margin-left: 30px;
    }

    .card-text {
        font-size: 15px;
    }

    .description-row {
        margin-top: 0px
    }
}
