@using WorldDiscovery.Shared

<div class="card">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src=@Place.PlaceImage.Url alt=@Place.PlaceImage.Description class="profile-image" />
            </div>
            <div class="col">
                <h4 class="card-title">@Place.Name</h4>
            </div>
        </div>
        <div class="row description-row">
            <div class="col">
                <p class="card-text">@Place.Description</p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Place? Place { get; set; }
}