.place-container {
    background-color: white;
    margin: auto;
    margin-top: 40px;
    padding: 5vh 5vw;
    height: 55vh;
    width: 75vw;
    border-radius: 20px;
    overflow: auto;
}

.header {
    margin-top: 30px
}

p {
    margin-bottom: 0;
}

a {
    color: #51b2f3;
    text-decoration: none;
}

.mobile-header {
    display: none;
}

@media (max-width: 1500px) {
    .desktop-header {
        display: none;
    }

    .mobile-header {
        display: inline;
    }

    .place-container {
        height: 58vh;
        width: 80vw;
    }
}

@media (width: 1024px) {

    .place-container {
        margin-top: 30px;
        height: 53.5vh;
        width: 80vw;
    }
}