.signup-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: cursive;
}

.signup-container {
    background-color: white;
    margin: auto;
    height: 625px;
    width: 550px;
    border-radius: 20px;
    padding: 30px;
}

.signup-header {
    text-align: center;
}

.close-logo {
    width: 30px;
    margin-top: -20px;
    margin-left: -10px;
    cursor: pointer;
}

.logo {
    height: 40px;
    margin-right: 15px;
    margin-top: -12px;
}

.signup-form {
    width: 280px;
    margin: auto;
    margin-top: 25px;
}

.container {
    padding: 0;
}

.signup-submit {
    width: 280px;
    margin-top: 10px;
}

.already-have-account {
    margin-top: 7px;
}

.login {
    color: #51b2f3;
    cursor: pointer;
}

/* ------------------------ Small Devices ------------------------ */

@media (max-width: 600px) {
    .signup-container {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}

/* ------------------------ Galaxy Fold ------------------------ */

@media (width: 280px) {
    .signup-form {
        width: 200px;
    }

    .signup-submit {
        width: 200px;
    }
}
