@page "/user-profile"
@using WorldDiscovery.Shared
@using WorldDiscovery.Shared.ViewModels;

<div class="profile-header">

</div>

<div class="places-container">
    @if (Places.Count > 0)
    {
        <div class="places-content">
            @foreach (var item in Places)
            {
                <PlaceCard Place=@item />
            }
        </div>
    }
    else
    {
        <div class="new-content">
            <img src="images/camera.png" alt="Camera Picture" class="camera-pic" />
            <h4>You don't have any published places yet. Click on the <span class="blue">camera</span> to share your experiences with others.</h4>
        </div>
    }
</div>


@code {
    List<PlaceModel> Places = new List<PlaceModel>();
}
